ENV="development"
DSN="root:root@tcp(localhost:6603)/test?charset=utf8&parseTime=True&loc=Local"
SENTRY_DSN=""

HOYOLAB_COOKIES=

GENSHIN_SIGN_IN_URL=https://sg-hk4e-api.hoyolab.com/event/sol/sign?lang=en-us
HSR_SIGN_IN_URL=https://sg-public-api.hoyolab.com/event/luna/os/sign
ZZZ_SIGN_IN_URL=
HI3_SIGN_IN_URL=
TOT_SIGN_IN_URL=

GENSHIN_ACT_ID=e2021xxx
HONKAI_SR_ACT_ID=e2023xxx
ZZZ_ACT_ID= # Left empty for ignore check-in
HI_3RD_ACT_ID=
TOT_ACT_ID=
